body {
    text-align: center;
    background:  radial-gradient(whitesmoke, gray, gray);

}
.header {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
}
.img1 {
    width: 375px;
    height: 1350px;
    float: right;
}
.img2 {
    width: 375px;
    height: 1350px;
    float: left;

}
#startButton {
    width: 200px;
    height: 200px;
    font-size: 40px;
    margin: auto;
    margin-top: 250px;
    text-align: center;
}
.timerContainer {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#timer {
    border: 10px dashed black;
    width: 150px;
    height: 75px;
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: black;

}
.question {
    font-size: 40px;
    font-weight: bold;
    color:black;
}
#triviaQuestion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
}
.gameBody {
    width: 600px;
    height: 1200px;
    border: 10px dashed black;
    margin: auto;
}
.questions {
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.checkbox-inline {
    text-align: inherit;
    font-size: 15px;
    color: black;
}
.answerLog {
    width: 600px;
    height: 400px;
    border: 10px dashed black;
    margin: auto;
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
}
